<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <head>
    <title>Customers</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div th:switch="${customers.totalElements}">
        <h2 th:case="0">No customers yet!</h2>
        <div th:case="*">
          <h2>Customers</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="customer : ${customers}">
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.email}"></td>
                <td><a th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit</a></td>
                <td><a th:href="@{/customers/delete/{id}(id=${customer.id})}">Delete</a></td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Pagination" th:if="${customers.totalPages gt 0}">
            <ul class="pagination">
              <li class="page-item" th:classappend="${customers.number eq 0} ? 'disabled'">
                <a class="page-link" th:href="@{/customers?page={id}(id=${customers.number - 1})}" aria-label="Previous" title="Previous Page" data-toggle="tooltip"> 
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" th:classappend="${i eq customers.number} ? 'active'" th:each="i : ${#numbers.sequence(0, customers.totalPages - 1)}">
                <a class="page-link" th:href="@{/customers?page={id}(id=${i})}" th:text="${i + 1}" th:title="${'Page '+ (i + 1)}" data-toggle="tooltip"></a>
              </li>
              <li class="page-item" th:classappend="${customers.number + 1 eq customers.totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/customers?page={id}(id=${customers.number + 1})}" aria-label="Next" title="Next Page" data-toggle="tooltip"> 
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <p>
          <a th:href="@{/customers/add}">Add a new customer</a>
        </p>
      </div>
    </div>
  </body>
</html>